* {
    margin: 0; 
    padding: 0;
}


#myTable {
    display: inline;
    /* grid-template-columns: auto auto auto; */
    /* background-color: #2196F3; */
    /* padding: 10px; */
    /* max-width: 60%; */
}

tr {
    max-height: 20px;

}

td {
    border: 1px solid black;
    width: 300px;
}

.input-section {
    display: flex;
}

